{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<h1>Homepage</h1>


<img class="bookcover" src="{% static 'images/w.jpg' %}">
<img class="bookcover" src="{% static 'images/fm1.jpg' %}">
<img class="bookcover" src="{% static 'images/fm2.jpg' %}">
<img class="bookcover" src="{% static 'images/fm3.jpg' %}">
<img class="bookcover" src="{% static 'images/fm4.jpg' %}">
<img class="bookcover" src="{% static 'images/fm10.jpg' %}">
<img class="bookcover" src="{% static 'images/fm11.jpg' %}">
<img class="bookcover" src="{% static 'images/fm12.jpg' %}">
<img class="bookcover" src="{% static 'images/fm14.jpg' %}">
<img class="bookcover" src="{% static 'images/fm3.jpg' %}">
{% endblock content %}